<a href="https://colab.research.google.com/github/Taras99/first_repository/blob/master/House_price_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [10]:
df = pd.read_csv('housing.csv')
print(df.head())
print(df.info())
print(df.columns)
print(df.isnull().sum())
print(df.shape)

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64
(20640, 10)

In [11]:
df.dropna(subset=['total_bedrooms'],inplace=True)
print(df.shape)

(20433, 10)

In [12]:
sub=['total_rooms','total_bedrooms','population','households']
df[sub] = df[sub].astype('int')
df.dtypes

le = LabelEncoder() 
  
df['ocean_proximity']= le.fit_transform(df['ocean_proximity']) 
print(df.ocean_proximity)

0        3
1        3
2        3
3        3
4        3
        ..
20635    1
20636    1
20637    1
20638    1
20639    1
Name: ocean_proximity, Length: 20433, dtype: int64

In [13]:
y = df.median_house_value.values
X = df.drop(['median_house_value'],axis=1).values


reg = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.25, random_state=42)

reg.fit(X_train,y_train)

y_pred = reg.predict(X_test)
print(y_pred)

print(reg.score(X_test, y_test))
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
print(rmse)

df['median_house_value'].mean()

[195892.22310108 157308.03687214 203060.91780714 ... 176227.09639698
 135803.63573583 114330.41722786]
0.6459543385568087
69208.5399237023

206864.41315519012