<a href="https://colab.research.google.com/github/Taras99/first_repository/blob/master/House_price_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
df = pd.read_csv('housing.csv')
print(df.head())
print(df.info())
print(df.columns)
print(df.isnull().sum())
print(df.shape)

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64
(20640, 10)

In [30]:
df.dropna(subset=['total_bedrooms'],inplace=True)
print(df.shape)

(20433, 10)

In [31]:
sub=['total_rooms','total_bedrooms','population','households']
df[sub] = df[sub].astype('int')
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms             int64
total_bedrooms          int64
population              int64
households              int64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [32]:
print(df.ocean_proximity.value_counts())
df['ocean_proximity'] = df.ocean_proximity.astype('category')

<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: ocean_proximity, dtype: int64

In [67]:
y = df.median_house_value.values
X = df.drop(['median_house_value','ocean_proximity'],axis=1).values


reg = LinearRegression()

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.25, random_state=42)

reg.fit(X_train,y_train)

y_pred = reg.predict(X_test)
print(y_pred)


reg.score(X_test, y_test)

[197348.69879631 157240.25203435 202609.27384464 ... 176025.37942474
 135681.04570862 114157.00339622]

0.6461446066126699